*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}
body{
    background: lightblue;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.contenedor
{
    position: relative;
    width: 100%;
    max-width: 1000px;
    min-height: 1000px;
    background: #fff;
    margin: 50px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    box-shadow: 0 35px 55px rgba(0, 0, 0, 1);
}



.contenedor .lateral-izquierda
{
    
    position: relative;
    background: #003147;
    padding: 40px;
}
.perfil
{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(255,255,255,0.2);
}
.perfil .foto
{
  position: relative;
  width: 200px;
  height: 200px;
  border-radius:50%;
  overflow: hidden;
}
.perfil .foto img
{
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;

}
.perfil h1{
    color: #fff;
    font-size: 1.5em;
    margin-top: 20px;
    text-transform: uppercase;
    text-align: center;
    font-weight: 600;
    line-height: 1.4em;
}
.perfil h1 span{
    font-size: 0.8em;
    font-weight: 300;
}
.info-contacto
{
    padding-top:20px ;
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(255,255,255,0.2);
}
.info-contacto h3{
    padding-bottom: 10px;
}
.titulo
{
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
}
.info-contacto ul
{
    position: relative;
}
.info-contacto ul li 
{
    position: relative;
    list-style: none;
    margin:10px 0;
    cursor: pointer;

}
.info-contacto ul li .icono
{
    display:inline;
    width: 300px;
    font-size: 18px;
    color: #03a9f4;
}
.info-contacto ul li .texto{
    color: #fff;
    font-weight: 300;
}
.educacion
{
    padding-top: 20px;
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(255,255,255,0.2);

}
.educacion li
{
    margin-bottom: 15px;
}
.educacion h5
{
    color: #03a9f4;
    font-weight: 500;
}
.educacion h4
{
    color: #fff;
    font-weight: 500;
}
.lenguaje
{
    
    padding-top: 20px;
    
}
.lenguaje .texto
{
    color: #fff;
}
.lenguaje .porcentaje
{
    position: relative;
    width: 100%;
    height: 6px;
    background: #081921;
    display: block;
    margin-top: 5px;
}
.lenguaje .porcentaje div
{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background: #03a9f4;
}



