*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
}
body{
    background: lightblue;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}
.contenedor
{
    position: relative;
    width: 100%;
    max-width: 1000px;
    min-height: 1000px;
    background: #fff;
    margin: 50px;
    display: grid;
    grid-template-columns: 1fr 2fr;
    box-shadow: 0 35px 55px rgba(0, 0, 0, 1);
}



.contenedor .lateral-izquierda
{
    
    position: relative;
    background: #003147;
    padding: 40px;
}
.perfil
{
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(255,255,255,0.2);
}
.perfil .foto
{
  position: relative;
  width: 200px;
  height: 200px;
  border-radius:50%;
  overflow: hidden;
}
.perfil .foto img
{
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;

}
.perfil h1{
    color: #fff;
    font-size: 1.5em;
    margin-top: 20px;
    text-transform: uppercase;
    text-align: center;
    font-weight: 600;
    line-height: 1.4em;
}
.perfil h1 span{
    font-size: 0.8em;
    font-weight: 300;
}
.info-contacto
{
    padding-top:20px ;
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(255,255,255,0.2);
}
.info-contacto h3{
    padding-bottom: 10px;
}
.titulo
{
    color: #fff;
    text-transform: uppercase;
    font-weight: 600;
}
.info-contacto ul
{
    position: relative;
}
.info-contacto ul li 
{
    position: relative;
    list-style: none;
    margin:10px 0;
    cursor: pointer;

}
.info-contacto ul li .icono
{
    display:inline;
    width: 300px;
    font-size: 18px;
    color: #03a9f4;
}
.info-contacto ul li .texto{
    color: #fff;
    font-weight: 300;
}
.educacion
{
    padding-top: 20px;
    
    border-bottom: 1px solid rgba(255,255,255,0.2);

}
.educacion h3{
    padding-bottom: 20px;
}
.educacion li
{
    margin-bottom: 15px;
}
.educacion h5
{
    color: #03a9f4;
    font-weight: 500;
}
.educacion h4
{
    color: #fff;
    font-weight: 500;
}
.lenguaje
{
    
    padding-top: 20px;
    
}
.lenguaje h3
{
    padding-bottom: 20px;
}
.lenguaje .texto
{
    color: #fff;
}
.lenguaje .porcentaje
{
    position: relative;
    width: 100%;
    height: 6px;
    background: #081921;
    display: block;
    margin-top: 5px;
}
.lenguaje .porcentaje div
{
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    background: #03a9f4;
}
/**
lado derecho
*/
.contenedor .lateral-derecha
{
    position: relative;
    background: #fff;
    padding: 40px;
}
.about
{
    margin-bottom: 50px;
}
.about:last-child
{
    margin-bottom: 0;
}
.titulo2
{
    color: #003147;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 10px;
}
p
{
    color: #333;
}
.about .box
{
    display: flex;
    flex-direction:row;
    margin: 20px 0;
}
.about .box .empresa
{
    min-width: 150px;
}
.about .box .empresa h5
{
    text-transform: uppercase;
    color: #848c90;
    font-weight: 600;
}
.about .box .texto h4
{
    text-transform: uppercase;
    color: #2a7da2;
    font-size: 16px;
}
section
{
    width: 90%;
    margin: 15px auto;
}
figure
{
    float: left;
    padding-left: 20px;
    padding-right: 20px;
    align-items: center;
}
img
{
    
    width: 50px;
    height: 50px;
}
figure img
{
    padding: 4px;
    background:#666;
    border-radius: 20px;
    -webkit-transition:-webkit-transform 0.3s ease-in-out 0.1s; ;
    box-shadow: #999 5px 5px 10px;

}
figcaption
{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 1.3em;
    text-align: center;
    margin-top: 5px;
}
figure  img:hover{

    -webkit-transform: scale(1.2);


}